@model _24DH110161_LTW.Models.ViewModel.HomeProductVM
@{
    ViewBag.Title = "Customer Home Page";
    <link rel="stylesheet" type="text/css" href="~/Content/myStyle/CustomerHome.css" />
}

@*PHẦN BANNER*@
<section class="container-fluid banner">
    <div class="banner-container">
        <h2>Chào mừng đến trang web E-commerce</h2>
        <p>Mua sắp trực tuyến với hàng ngàn sản phẩm đa dạng và chất lượng</p>
        <a href="#" class="btnBanner">Bắt đầu mua sắm</a>
    </div>
</section>

@*PHẦN TÌM KIẾM SẢN PHẨM*@
<section class="container-fluid searchProd">
    <h2>Tìm kiếm sản phẩm</h2>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        <div class="form-group search-container">
            @Html.TextBoxFor(m => m.SearchTerm, new
            {
                @class = "search-input",
                placeholder = "Nhập tên, mô tả hoặc chủng loại sản phẩm"
            })
            <button type="submit" class="search-button">Tìm kiếm</button>
        </div>
    }
</section>

@*PHẦN SẢN PHẨM NỔI BẬT*@
<section id="featureProd">
    <h2>Sản phẩm nổi bật</h2>
    <div class="prod-container">
        <div class="product-item">
            <img src="" />
            <h3>Acer Nitro 5 Tiger</h3>
            <p class="prodDescription">Mỏng nhẹ, giá sinh viên</p>
            <p class="prodPrice">9.999.999đ</p>
        </div>
        <div class="product-item">
            <img src="" />
            <h3>Hp 14s DQ màu bạc</h3>
            <p class="prodDescription">Cấu hình mạnh, phù hợp game thủ</p>
            <p class="prodPrice">8.999.999đ</p>
        </div>
        <div class="product-item">
            <img src="" />
            <h3>Thinkpad X1504ZA</h3>
            <p class="prodDescription">Phong cách doanh nhân</p>
            <p class="prodPrice">29.999.999đ</p>
        </div>
    </div>
</section>

<section class="productList">
    <h2>Danh sách sản phẩm</h2>
    <ul class="list-container">
        <li class="product-item">
            <img src="" />
            <h3>Acer Nitro 5 Tiger</h3>
            <p class="prodDescription">Mỏng nhẹ, giá sinh viên</p>
            <p class="prodPrice">9.999.999đ</p>
        </li>
        <li class="product-item">
            <img src="" />
            <h3>Hp 14s DQ màu bạc</h3>
            <p class="prodDescription">Cấu hình mạnh, phù hợp game thủ</p>
            <p class="prodPrice">8.999.999đ</p>
        </li>
        <li class="product-item">
            <img src="" />
            <h3>Thinkpad X1504ZA</h3>
            <p class="prodDescription">Phong cách doanh nhân</p>
            <p class="prodPrice">29.999.999đ</p>
        </li>
    </ul>
</section>